<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    {% include 'cdnlines.html' %}
    <meta charset="UTF-8">
    {% block title %}
    <title>Post Updated Page</title>
    {% endblock %}
    <style>
        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
{% block content %}
{% include 'alerts.html' %}
<div class="container">
    <h1>Update Post</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" id="title" value="{{ post.title }}" required>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" class="form-control-file" name="image" id="image">
        </div>
        <button type="submit" class="btn btn-primary">Update Post</button>
    </form>
</div>
{% endblock %}
</body>
</html>
